*
{
    margin:2;
}
table{
    border-collapse: collapse;
}
table,th,td{
    padding:5px;
    border:2 px solid black;
}
thead,tfoot{
    background-color: cyan;

}
.divcontainer{
    margin:20px;
    border:5 px solid red;
    padding: 20px;
}
.spanclass{
    color:red;
}